doctype html
html
    head
        title= title
        link(rel='stylesheet', href='http://cdn.bootcss.com/normalize/7.0.0/normalize.min.css')
        link(rel='stylesheet', href='http://cdn.bootcss.com/Swiper/3.4.2/css/swiper.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        block scripts
            script(src='/javascripts/vendors/jquery.js')