extends layout

block content
    div.wrap
        div#map
        div.logo
        div.title
            p 数据覆盖人数：
                span#creditCount 298,187,666
        div.score
            p#applyCount --
        div.legend
            ul
                li.item
                    div
                        i.icon.yidong
                        span 移动
                li.item
                    div
                        i.icon.liantong
                        span 联通
                li.item
                    div
                        i.icon.dianxin
                        span 电信
        div.apply-panel
            div.list-container
                ul.list
            div.time
        div.rank

block scripts
    script(src='/javascripts/vendors/jquery.js')
    script(src='/javascripts/vendors/countUp.min.js')
    script(src='/javascripts/vendors/echarts.min.js')
    script(src='/javascripts/vendors/china.js')
    script(src='/javascripts/utils/dateUtils.js')
    script(src='/javascripts/utils/dataProducer.js')
    script(src='/javascripts/utils/autojump.js')
    script(src='/javascripts/page1.js')
