extends layout

block content
    div.wrap
        canvas#canvas
        div.mask
        div.logo
        div.galaxy
            div.channel-offline
                div.inner-box
                    h5.channel-name 线下运营
                    div.pannel
                        p.label 活跃用户：
                        p#channel1Count.value 0
            div.channel-mobile
                div.inner-box
                    h5.channel-name 移动渠道
                    div.pannel
                        p.label 活跃用户：
                        p#channel2Count.value 0
            div.channel-online
                div.inner-box
                    h5.channel-name 线上运营
                    div.pannel
                        p.label 活跃用户：
                        p#channel3Count.value 0
            div.channel-appstore
                div.inner-box
                    h5.channel-name APP Store
                    div.pannel
                        p.label 活跃用户：
                        p#channel4Count.value 0
            div.channel-android
                div.inner-box
                    h5.channel-name 安卓市场
                    div.pannel
                        p.label 活跃用户：
                        p#channel5Count.value 0
            div.sun
block scripts
    script(src='/javascripts/vendors/jquery.js')
    script(src='/javascripts/vendors/countUp.min.js')
    script(src='/javascripts/utils/dateUtils.js')
    script(src='/javascripts/utils/dataProducer.js')
    script(src='/javascripts/utils/autojump.js')
    script(src='/javascripts/page2.js')
