extends layout

block content
    div.wrap
        div#chart
        div.pie-wrap.left-pie
            div.title
            div.left-pie-a
                div.track.track-1
                div.track.track-2
                div.track.track-3
                div#sjshA.pie-box
            div.left-pie-b
                div.track.track-1
                div.track.track-2
                div.track.track-3
                div#sjshB.pie-box
        div.pie-wrap.right-pie
            div.title
            div.left-pie-a
                div.track.track-1
                div.track.track-2
                div.track.track-3
                div#xjfqA.pie-box
            div.left-pie-b
                div.track.track-1
                div.track.track-2
                div.track.track-3
                div#xjfqB.pie-box
        div.chart-title
            div.chart-info
                h3 随借随还产品
                p 申请人数：
                strong#ACount.green 0
            div.chart-info
                h3 现金分期产品
                p 申请人数：
                strong#BCount.blue 0
        div.logo

block scripts
    script(src='/javascripts/vendors/jquery.js')
    script(src='/javascripts/vendors/countUp.min.js')
    script(src='/javascripts/vendors/echarts.min.js')
    script(src='/javascripts/utils/dateUtils.js')
    script(src='/javascripts/utils/dataProducer.js')
    script(src='/javascripts/utils/autojump.js')
    script(src='/javascripts/page3.js')
